// Place all the styles related to the TaskManager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
  width: 500px;
  margin: 20px auto;
}

#task_name {
  text-align: center;
  margin: 10px auto;
}

#task_text {
  margin: 10px;
  width: 500px;
  border: 5px solid #000;
}

.new_task_button {
  margin: 20px auto;
  background: #000;
  width: 75px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

.delete_button {
  float: right;
}
