<!DOCTYPE html>
<html>
<head>
  <title>RubyGarage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <h1>TASK MANAGER</h1>
    <p> developed by Eduard Gura </p>
</header>


    <%= yield %>

</body>
</html>
